* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: black;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 0.75fr 0.25fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  height: 100vh;
  padding: 20px;
  margin: 60px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.red {
  background-color: #ff4b5c;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.num {
  background-color:  #fbd3c3;
  
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-size: 100px;
    font-style: normal;
  
  
}

.top {
  grid-column: 2 / 5;
  grid-row: 1 / 2;
}

.purple {
  background-color: #c9a1f1;
  grid-column: 5 / 6;
  grid-row: 1 / 3;
}

.black {
  background-color: #2f2f2f;
  
    background-image: linear-gradient(
      125deg,
      hsl(0deg 0% 0%) 60%,
      hsl(12deg 100% 12%) 85%,
      hsl(26deg 100% 14%) 92%,
      hsl(33deg 100% 18%) 94%,
      hsl(37deg 100% 22%) 96%,
      hsl(40deg 100% 26%) 97%,
      hsl(41deg 100% 30%) 98%,
      hsl(42deg 100% 35%) 98%,
      hsl(43deg 100% 40%) 99%,
      hsl(44deg 100% 45%) 99%,
      hsl(45deg 100% 50%) 100%
    );
  
  color: white;
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  
    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 700;
    font-size: 100px;
    font-style: normal;
  
  
}

.green {
  background-color: #b1e693;
  grid-column: 1 / 4 ;
  grid-row: 3 / 4;
 
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 700;
  font-size:100px;  
  font-style: normal;
  
  
}

.pink {
  background-color: #fbd3c3;
  grid-column: 4 / 6;
  grid-row: 3 / 4;
  
    font-family: "Rock Salt", cursive;
    font-weight: 700;
    font-size: 50px;
    font-style: normal;
  
  
}
.box:hover {
    border: 2px solid white; 
    color: white; 
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.4); 
    transform: translateY(-5px); 
}


.icon {
  font-size: 50px;
}
.box img {
    width: 100px; 
    height: 100px; 
    transition: all 0.3s ease; 
}
.box:hover img {
    filter: brightness(0) invert(1); 
}